.column .column--50, .presentacion {
    width: 255px;
    height: 250px;
    border: 1px solid #3b83bd;
    margin: auto;
    
    background-size: 100% 100%;
    
    animation-name: banner;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes banner {
    0%, 30% {
        background-image: url(../IMG/presentacion-1.jpg);
        opacity: 1;
    }
    31%; 34% {
        opacity: 0.1;
    }
    35%, 65% {
        background-image: url(../IMG/presentacion-2.jpg);
        opacity: 1;
    }
    66%; 69% {
        opacity: 0.1;
    }
    70%, 100% {
        background-image: url(../IMG/presentacion-3.jpg);
        opacity: 1;
    }
}